h1 {
  text-align: center;
}

.intro {
  font-family: monospace;
  color: red;
  font-style: italic;
  text-align: center;
  font-style: italic;
}


.highlight {
  background-color: yellow;
  border: 1px solid black;
}
